@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
}
*, *::after, *::before {
    box-sizing: border-box;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
 
  #root, #__next {
    isolation: isolate;
  }

:root {
    --red: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --cyan: hsl(167, 40%, 24%);
    --blue: hsl(198, 62%, 26%);
    --footer: hsl(168, 34%, 41%);
    --hover: rgb(255, 255, 255, 0.35);

    --neutral-blue: hsl(212, 27%, 19%);
    --neutral-gray: hsl(213, 9%, 39%);
    --neutral-gray-400: hsl(232, 10%, 55%);
    --neutral-gray-300: hsl(210, 4%, 67%);
    --white: white;
}
body {
    background: url(./assets/mobile/image-header.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
@media (min-width: 768px) {
    body {
        background: url(./assets/desktop/image-header.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
   }
}


@media (max-width: 1024px) {

  header[data-overlay="true"]::after,
  header[data-overlay="false"]::after {
    content: '';
    inset: 0;
    opacity: 1;
    z-index: -1;
    position: fixed;
    transition: opacity 500ms ease;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.116) 0%, rgba(0, 0, 0, 0.705) 100%);
  }
  header[data-overlay="false"]::after {
    opacity: 0;
    transition: opacity 500ms ease;
  }
  nav[data-active="true"],
  nav[data-active="false"] {
    position: fixed;
    opacity: 1;
    padding: 1rem;
    max-width: 25rem;
    text-align: center;
    margin-inline: auto;
    inset: 5rem 1rem auto;
    background-color: white;
    animation: drop 500ms ease;;
    transition: all 500ms ease;
  }

  nav[data-active="false"] {
    top: -50px;
    opacity: 0;
    pointer-events: none;
  }
}

