/* Custom Properties  */
:root {
    --orange: hsl(26, 100%, 55%);
    --orange-100: hsl(25, 100%, 94%);

    --dark-blue: #1d2025;
    --link: hsl(217, 9%, 45%);
    --line: hsl(220, 14%, 75%);
    --grey-300: hsl(217, 9%, 45%);
    --grey-200: hsl(220, 14%, 75%);
    --grey-100:  hsl(223, 64%, 98%);
    --hover-grey-100:  hsl(223, 64%, 95%);

    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --box-shadow: 255, 125, 26;

    --ff-primary: 'Kumbh Sans', sans-serif;

    --size-50: 0.65rem; 
    --size-100: 0.85rem; 
    --size-200: 1rem; 
    --size-300: 1.125rem; 
    --size-400: 1.5rem; 

    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    --t-250ms: 250ms ease;
    --t-350ms: 350ms ease;
    --t-500ms: 500ms ease;
}
.DarkMode {
    --orange: hsl(26, 100%, 60%);
    --orange-100: hsl(25, 100%, 10%);

    --dark-blue: hsl(25, 100%, 94%);
    --grey-300: #656465;
    --grey-200: #3b3b3b;
    --grey-100: #2B2B2B;
    --hover-grey-100: #656465;
    --link: white;
    --line: #656465;

    --box-shadow: 255, 125, 6;

    --white: #111111;
    --black: white;
}

/* Utility Classes  */
.event-none {
  pointer-events: none;
}
.p-1 {
  padding: 0.65rem;
}
/* CSS Reset  */

*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
  }

  * {
    padding: 0;
    margin: 0;
  }

  html, body {
    height: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  #root, #__next {
    isolation: isolate;
  }

  /* General Styling  */
body {
    font-family: var(--ff-primary);
    background-color: var(--grey-100);
    background-color: var(--white);
    transition: background-color var(--t-350ms);
}
.container {
    max-width: 1440px;
    margin-inline: auto;
    padding-block-start: 1rem;
}
.container-wrapper {
    display: grid;
}
@media (min-width: 45em) {
    .container {
        padding-inline: 1rem;
    }
    .container-wrapper {
      gap: 2rem;
    }
}
@media (min-width: 50em) {
  .container-wrapper {
    grid-template-columns: repeat(2, 1fr);
}
}
@media (min-width: 59em) {
    .container {
        padding: 1rem 3rem;
    }
}
@media (min-width: 75em) {
    .container {
        padding: 3rem 5rem;
    }
}
@media (min-width: 87em) {
    .container {
        padding: 3rem 10rem;
    }
}

::-webkit-scrollbar {
  background: transparent;
  width: 11px;
}
::-webkit-scrollbar-thumb {
  border-radius: 100vmax;
  background: var(--grey-200)
}
::-webkit-scrollbar-thumb:hover {
  background: var(--grey-300)
}