.RippleContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  border-radius: inherit;
}

span {
  transform: scale(0);
  border-radius: 100%;
  position: absolute;
}

@keyframes ripple {
  to {
    opacity: 0;
    transform: scale(2);
  }
}


