.main-img {
    border: none;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
    max-width: 350px;
    position: relative;
    border-radius: 6rem 2rem;
    transition: scale var(--t-500ms), box-shadow var(--t-500ms), border-radius var(--t-250ms);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.hero-img {
    transition: scale var(--t-500ms), filter var(--t-350ms), rotate var(--t-500ms);
}
.image-wrapper {
    gap: 1rem;
    display: none;
    justify-content: center;
}
.wrapper-content {
    overflow: hidden;
    position: relative;
    border-radius: 0.75rem;
    transition: box-shadow var(--t-350ms), transform var(--t-500ms);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
.image-wrapper img {
    width: 100px;
    cursor: pointer;
    border-radius: 0.75rem;
    transition: filter var(--t-500ms), scale var(--t-350ms), rotate var(--t-350ms);
}
.wrapper-content::after {
    inset: 0;
    opacity: 0;
    content: "";
    height: 100%;
    cursor: pointer;
    position: absolute;
    pointer-events: none;
    transition: opacity var(--t-500ms);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 10%, rgba(0, 0, 0, 0.85) 100%);
}
.arrows {
    top: 50%;
    border: none;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    width: 35px;
    aspect-ratio: 1/1;
    background-color: var(--white);
    transition: all var(--t-350ms);
}
.arrows > svg {
    margin-inline: auto;
}
.left-arrow {
    left: 15px;
}
.right-arrow {
    right: 15px;
}
/* All The Hover State Here  */
@media (hover:hover) {

    .main-img:hover {
        box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    }
    .main-img:hover > .hero-img {
        scale: 1.2;
        rotate: -5deg;
        filter: brightness(110%);
    }
    .wrapper-content:hover {
        transform: translateY(-5px);
        box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    }
    .wrapper-content:hover > img {
        scale: 1.1;
        rotate: 5deg;
        filter: hue-rotate(50deg);
    }
    .wrapper-content:hover::after {
        opacity: 1;
    }
}

/* Active State Classes */
.active-img {
    scale: 0.9;
    transform: translateY(5px);
    outline: 3px solid var(--orange);
}
.active-img > img {
    scale: 1.1;
    opacity: 0.75;
}
.wrapper-content.active-img::after {
    opacity: 0.5;
}
.wrapper-content.active-img:hover {
    transform: translateY(5px);
    box-shadow:  none;
}
.wrapper-content.active-img:hover::after {
    opacity: 0.5;
}
.wrapper-content.active-img:hover > img {
    scale: 1.1;
    rotate: 0deg;
    filter: hue-rotate(0deg);
}

@media (min-width: 45em) {
    .main-img {
        margin: 0 auto 2rem;
        border-radius: 1rem;
    }
    .image-wrapper {
        display: flex;
    }
    .arrows {
        display: none;
    }
}

