.content-contianer {
    padding: 1.5rem;
}
.title {
    letter-spacing: 4px;
    color: var(--orange);
    font-size: var(--size-100);
}
.main-title {
    font-size: 2.5rem;
    line-height: 2.75rem;
    color: var(--dark-blue);
    padding-block: 1rem 2rem;
    text-transform: capitalize;
}
.main-para {
    color: var(--grey-300);
    font-size: var(--size-500);
    transition: color var(--t-350ms);
}
.price-container {
    display: flex;
    padding-block: 1.5rem;
    align-items: flex-end;
    justify-content: space-between;
}

.price-tag {
    gap: 0.75rem;
    display: flex;
    align-items: center;
}
.price-tag > h2 {
    font-size: 2rem;
    color: var(--dark-blue);
    transition: all var(--t-250ms);
}
.discount {
    border-radius: 5px;
    color: var(--orange);
    padding: 0.1rem .35rem;
    font-size: var(--size-50);
    font-weight: var(--fw-700);
    border: 2px solid transparent;
    background-color: var(--orange-100);
    transition: color var(--t-250ms), background-color var(--t-350ms), scale var(--t-250ms), translate var(--t-350ms);
}
.discount:hover {
    scale: 1.05;
    cursor: default;
    translate: 0 -3px;
    color: var(--orange-100);
    background-color: var(--orange);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
}
.crossed-price {
    color: var(--grey-300);
    font-weight: var(--fw-700);
    font-size: var(--size-100);
    text-decoration: line-through;
}
.buttons {
    gap: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
}
@media (min-width: 45em) {
    .price-container {
        align-items: flex-start;
        flex-direction: column;
    }
    .buttons {
        flex-direction: row;
    }
}
.counting-container {
    display: flex;
    background-color: var(--grey-100);
}

.add-to-cart {
    gap: 1rem;
    display: flex;
    cursor: pointer;
    padding: 1rem 2rem;
    color: var(--white);
    border-radius: .5rem;
    font-weight: var(--fw-700);
    border: 2px solid transparent;
    background-color: var(--orange);
    box-shadow: 0 10px 15px -3px rgb(255, 125, 26, 0.1);
    transition: background-color var(--t-350ms), color var(--t-250ms), scale var(--t-350ms), translate var(--t-350ms);
}
.add-to-cart > svg {
    fill: var(--white);
    transition: fill var(--t-250ms), transform var(--t-350);
}
.add-to-cart:hover {
    scale: 1.05;
    translate: 0 -5px;
    color: var(--orange);
    border-color: var(--orange);
    background-color: transparent;
    box-shadow: 0 10px 15px -3px rgb(255, 125, 26, 0.15);
}
.add-to-cart:hover > svg {
    fill: var(--orange);
    transform: scale(1.15);
}