header {
  gap: 2rem;
  display: flex;
  max-width: 1440px;
  padding: 1rem 2rem;
  align-items: center;
  margin-inline: auto;
  position: relative;
  justify-content: space-between;
}
header::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0px;
  width: 90%;
  height: 1px;
  transform: translate(-50%, 50%);
  background-color: var(--grey-200);
  transition: background-color var(--t-350ms);
}
.svg-logo {
  fill: #1d2026;
  transition: fill var(--t-250ms), translate var(--t-350ms),
    rotate var(--t-250ms), scale var(--t-250ms);
}
.svg-logo:hover {
  scale: 1.15;
  rotate: -5deg;
  cursor: pointer;
  translate: 0 -3px;
  fill: var(--orange);
  filter: drop-shadow(0 10px 15px -3px rgb(0 0 0 / 0.1));
}
nav {
  margin-inline-end: auto;
}
.nav-list {
  gap: 1rem;
  display: flex;
  list-style: none;
}
.nav-list > li > a {
  border: none;
  text-decoration: none;
  color: var(--grey-300);
  border-radius: 100vmax;
  padding: 0.45rem 0.9rem;
  font-weight: var(--fw-500);
  font-size: var(--size-200);
  transition: background-color var(--t-250ms), color var(--t-350ms);
}
.nav-list > li {
  border: none;
  position: relative;
  border-radius: 100vmax;
  transition: transform var(--t-350ms);
}
.nav-list > li:hover {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  transform: translateY(-3px) scale(1.1) rotate(-1deg);
}
.nav-list > li > a:hover {
  color: var(--white);
  background-color: var(--orange);
}
.cart::after,
.theme::after,
.nav-list > li::after {
  left: 0;
  content: '';
  width: 100%;
  height: 4px;
  border: none;
  bottom: -29px;
  position: absolute;
  transform: scale(0);
  border-radius: 1rem 1rem 0 0;
  background-color: var(--orange);
  transition: transform var(--t-350ms);
}
.nav-list > li:hover::after {
  transform: scale(1) rotate(1deg) translateY(-2px);
  transform-origin: center;
}
.buttons-wrapper {
  gap: 1rem;
  display: flex;
  align-items: center;
}
.btn-profile > img {
  width: 35px;
}
.hamburger {
  border: none;
  display: none;
  cursor: pointer;
  padding: 0.55rem;
  /* overflow: visible; */
  border-radius: 50%;
  background-color: transparent;
}

.btn-profile {
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--orange-100);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1);
  transition: transform var(--t-350ms), border-color var(--t-250ms);
}
.btn-profile:hover {
  transform-origin: center;
  border-color: var(--orange);
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.theme,
.cart {
  border: none;
  padding: 0.35rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: transparent;
  transition: all var(--t-350ms);
}
.cart {
  padding: 0.45rem;
}
.theme {
  display: none;
}
.cart::after,
.theme::after {
  bottom: -24px;
  transition: transform var(--t-250ms);
  transform: scale(0) translateY(-5px);
}
.cart:hover::after,
.theme:hover::after {
  transform: scale(1);
  transform-origin: center;
}
.theme:hover,
.cart:hover {
  translate: 0 -5px;
  background-color: var(--hover-grey-100);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1);
}

.cart-svg {
  fill: var(--dark-blue);
  transition: fill var(--t-250ms), scale var(--t-350ms), rotate var(--t-350ms);
}

.moon-svg,
.sun-svg {
  transition: fill var(--t-250ms), scale var(--t-350ms), rotate var(--t-250ms);
}

.cart-svg:hover,
.moon-svg:hover,
.sun-svg:hover {
  scale: 1.2;
  rotate: -5deg;
}

.cart-svg:hover,
.sun-svg:hover {
  fill: var(--black);
}

.sun-svg:hover {
  scale: 1.2;
  rotate: -360deg;
}

@media (max-width: 59em) {
  header {
    gap: 0;
    padding: 1rem 0.5rem;
  }
  .overlay {
    overflow: hidden;
  }
  header[data-overlay="true"]::after,
  header[data-overlay="false"]::after {
    content: "";
    inset: 0;
    z-index: 2;
    opacity: 1;
    height: 100vh;
    position: fixed;
    transition: opacity var(--t-350ms);
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.205) 10%,
      rgba(0, 0, 0, 0.85) 100%
    );
  }
  header[data-overlay="false"]::after {
    opacity: 0;
    z-index: -39874;
    transition: opacity var(--t-500ms);
  }

  .logo {
    gap: 0.75rem;
    display: flex;
    align-items: center;
  }
  nav {
    z-index: 10;
    top: 0;
    left: 0px;
    width: 0%;
    opacity: 0;
    height: 100vh;
    position: fixed;
    transition: all var(--t-350ms);
    background-color: var(--grey-100);
  }
  .open {
    width: 65%;
    opacity: 1;
    box-shadow: 0 3px 25px rgb(22, 22, 22, 0.15);
  }
  .nav-list {
    height: 65%;
    display: none;
    flex-direction: column;
    justify-content: center;
    padding-inline-start: 1.5rem;
  }
  .active {
    display: flex;
  }
  .nav-list > li > a {
    color: var(--dark-blue);
    font-size: var(--size-200);
    font-weight: var(--fw-700);
    background-color: transparent;
  }
  .nav-list > li:hover {
    box-shadow: none;
  }
  .hamburger {
    display: block;
    z-index: 99999;
  }
  .buttons-wrapper {
    gap: 0.25rem;
  }
  .cart-svg:hover {
    scale: 1.01;
  }
  .theme::after,
  .nav-list > li::after  {
    display: none;
  }

}

@media (min-width: 30em) {
  .theme {
    padding: 0.65rem;
  }
  .cart {
    padding: 0.75rem 0.75rem 0.82rem 0.75rem;
  }
  .btn-profile > img {
    width: 45px;
  }
  .theme {
    display: block;
  }
  .buttons-wrapper {
    gap: 1rem;
  }
}
@media (min-width: 1300px) {
  header::before {
    bottom: -15px;
  }
  .nav-list > li::after {
    bottom: -43px;
  }
  .cart::after,
  .theme::after {
    bottom: -38px;
  }
}
/* Hamburger Menu Animations  */
.hamburger-box {
  width: 30px;
  height: 12px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 30px;
  height: 4px;
  background-color: var(--dark-blue);
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}
/* Hamburger-spin  */
.hamburger-spin .hamburger-inner {
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger-spin .hamburger-inner::before {
  transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
}
.hamburger-spin .hamburger-inner::after {
  transition: bottom 0.1s 0.25s ease-in,
    transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
/* Hamburger-spin Is-Active Animation  */
.hamburger-spin.is-active .hamburger-inner {
  transform: rotate(225deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger-spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
}
.hamburger-spin.is-active .hamburger-inner::after {
  bottom: 0;
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out,
    transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}
