header {
  position: relative;
}

.cart-content-box {
  top: -5%;
  right: 0%;
  z-index: 2;
  opacity: 0;
  padding: 1rem;
  position: absolute;
  margin-inline: 1rem;
  pointer-events: none;
  border-radius: 0.75rem;
  background-color: var(--cart-bg);
  transition: top 650ms ease, opacity var(--t-350ms),
    background-color var(--t-350ms);
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
@media (min-width: 600px) {
  .cart-content-box {
    right: 4%;
  }
}
.cart-active {
  top: 150%;
  opacity: 1;
  pointer-events: all;
}
.cart-content-box > h3 {
  color: var(--black);
  padding-block-end: 1rem;
  transition: color var(--t-250ms);
}
.checkout-content {
  display: flex;
  align-items: center;
  padding-block: 2rem;
  transition: border-color var(--t-350ms);
  border-block-start: 3px solid var(--hover-grey-100);
}
.thumbnail > img {
  border: none;
  max-width: 50px;
  cursor: pointer;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}
/* Checkout Title  */
.out-title {
  color: var(--black);
  margin-inline: 0.75rem 0.5rem;
}
.out-title > p:first-child {
  font-size: var(--size-100);
  font-size: 1rem;
}
.cart-header > h3 {
  color: var(--black);
}
.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 0.5rem;
}
.cart-close-svg {
  width: 1.5rem;
  height: 1.5rem;
  stroke: var(--grey-300);
}
.cart-close-btn {
  border: none;
  cursor: pointer;
  border-radius: 50%;
  background: transparent;
  padding: 0.25rem 0.25rem;
  transition: all 350ms ease-in-out;
}
/* Delete Svg Button  */
.delete-btn {
  width: 40px;
  border: none;
  cursor: pointer;
  padding: 0.75rem 0.75rem;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color var(--t-350ms);
}
.delete-btn > svg {
  margin-inline: auto;
  fill: var(--grey-200);
  transition: fill var(--t-350ms), translate var(--t-250ms),
    rotate var(--t-350ms);
}
.delete-btn:hover,
.cart-close-btn:hover {
  background-color: var(--hover-grey-200);
}
.delete-btn:hover > svg {
  translate: 0 -2px;
  rotate: -10deg;
  fill: var(--grey-300);
}
/* Checkout Button  */
.out-btn {
  width: 100%;
  cursor: pointer;
  padding: 0.45rem;
  border-radius: 0.5rem;
  color: var(--orange-100);
  font-weight: var(--fw-700);
  font-size: var(--size-200);
  border: 2px solid transparent;
  background-color: var(--orange);
  transition: color var(--t-350ms), background-color var(--t-250ms),
    border var(--t-350ms);
}
.out-btn:hover {
  color: var(--orange);
  border-color: var(--orange);
  background-color: transparent;
}
