@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
}
.navbar {
  height: auto;
}

.hero-gradient,
.about-gradient {
  --bgImage: url(./bgLight.jpg);

  background-image: var(--bgImage);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-gradient {
  --bgImage: url(./aboutLight.jpg);
}

@media (max-width: 639px) {
  header[data-overlay="false"]::after,
  header[data-overlay="true"]::after {
    inset: 0;
    opacity: 0;
    content: "";
    width: 100%;
    z-index: -1;
    height: 100%;
    position: fixed;
    transition: all 500ms ease-in-out;
    background: linear-gradient(
      0deg,
      rgba(27, 27, 27, 0.911) 0%,
      rgba(116, 116, 116, 0.336) 100%
    );
  }
  header[data-overlay="true"]::after {
    opacity: 1;
    z-index: 1;
  }
  .navbar {
    height: 100dvh;
  }
  .hero-gradient {
    background-position: center bottom;
  }
}

/* For the Theme Toggle  */
.theme-toggle > svg {
  width: 1.85rem;
  height: 1.85rem;
}

.card-grid {
  --min-size: 250px;

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--min-size), 1fr));
}
@media (min-width: 350px) {
  .card-grid {
    --min-size: 320px;
  }
}

/* Main Color For the whole theme is #015ac2 */
